<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jike.system.dao.DetectInterfaceMapper" >
  <resultMap id="BaseResultMap" type="com.jike.system.bean.DetectInterface" >
    <id column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="TASK_GROUP_ID" property="taskGroupId" jdbcType="VARCHAR" />
    <result column="BELONG_TO" property="belongTo" jdbcType="VARCHAR" />
    <result column="ITF_URL" property="itfUrl" jdbcType="VARCHAR" />
    <result column="ITF_PARAMS" property="itfParams" jdbcType="VARCHAR" />
    <result column="REQUEST_METHOD" property="requestMethod" jdbcType="VARCHAR" />
    <result column="CHECK_VALUE1" property="checkValue1" jdbcType="VARCHAR" />
    <result column="CHECK_VALUE2" property="checkValue2" jdbcType="VARCHAR" />
    <result column="FREQUENCY" property="frequency" jdbcType="DECIMAL" />
    <result column="THRESHOLD_VALUE" property="thresholdValue" jdbcType="NUMERIC" />
    <result column="CURRENT_FAILURE_NUM" property="currentFailureNum" jdbcType="NUMERIC" />
    <result column="NOTICE_LVL" property="noticeLvl" jdbcType="CHAR" />
    <result column="NOTICE_OBJECT" property="noticeObject" jdbcType="VARCHAR" />
    <result column="BY_PROXY" property="byProxy" jdbcType="NUMERIC" />
    <result column="PROXY_IP" property="proxyIp" jdbcType="VARCHAR" />
    <result column="PROXY_PORT" property="proxyPort" jdbcType="NUMERIC" />
    <result column="PROXY_USERNAME" property="proxyUsername" jdbcType="VARCHAR" />
    <result column="PROXY_PASSWORD" property="proxyPassword" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="CHAR" />
    <result column="TOTAL_NOTICE_NUM" property="totalNoticeNum" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="GUID" property="guid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TASK_ID, TASK_GROUP_ID, BELONG_TO, ITF_URL, ITF_PARAMS, REQUEST_METHOD, CHECK_VALUE1, 
    CHECK_VALUE2, FREQUENCY, THRESHOLD_VALUE, CURRENT_FAILURE_NUM, NOTICE_LVL, NOTICE_OBJECT, 
    BY_PROXY, PROXY_IP, PROXY_PORT, PROXY_USERNAME, PROXY_PASSWORD, STATE, TOTAL_NOTICE_NUM, 
    CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, GUID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jike.system.bean.DetectInterfaceExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SYSTEM_DETECT_INTERFACE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYSTEM_DETECT_INTERFACE
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYSTEM_DETECT_INTERFACE
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jike.system.bean.DetectInterfaceExample" >
    delete from T_SYSTEM_DETECT_INTERFACE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jike.system.bean.DetectInterface" >
    insert into T_SYSTEM_DETECT_INTERFACE (TASK_ID, TASK_GROUP_ID, BELONG_TO, 
      ITF_URL, ITF_PARAMS, REQUEST_METHOD, 
      CHECK_VALUE1, CHECK_VALUE2, FREQUENCY, 
      THRESHOLD_VALUE, CURRENT_FAILURE_NUM, NOTICE_LVL, 
      NOTICE_OBJECT, BY_PROXY, PROXY_IP, 
      PROXY_PORT, PROXY_USERNAME, PROXY_PASSWORD, 
      STATE, TOTAL_NOTICE_NUM, CREATE_USER, 
      CREATE_TIME, UPDATE_USER, UPDATE_TIME, 
      GUID)
    values (#{taskId,jdbcType=VARCHAR}, #{taskGroupId,jdbcType=VARCHAR}, #{belongTo,jdbcType=VARCHAR}, 
      #{itfUrl,jdbcType=VARCHAR}, #{itfParams,jdbcType=VARCHAR}, #{requestMethod,jdbcType=VARCHAR}, 
      #{checkValue1,jdbcType=VARCHAR}, #{checkValue2,jdbcType=VARCHAR}, #{frequency,jdbcType=DECIMAL}, 
      #{thresholdValue,jdbcType=NUMERIC}, #{currentFailureNum,jdbcType=NUMERIC}, #{noticeLvl,jdbcType=CHAR}, 
      #{noticeObject,jdbcType=VARCHAR}, #{byProxy,jdbcType=NUMERIC}, #{proxyIp,jdbcType=VARCHAR}, 
      #{proxyPort,jdbcType=NUMERIC}, #{proxyUsername,jdbcType=VARCHAR}, #{proxyPassword,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{totalNoticeNum,jdbcType=DECIMAL}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{guid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jike.system.bean.DetectInterface" >
    insert into T_SYSTEM_DETECT_INTERFACE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="taskGroupId != null" >
        TASK_GROUP_ID,
      </if>
      <if test="belongTo != null" >
        BELONG_TO,
      </if>
      <if test="itfUrl != null" >
        ITF_URL,
      </if>
      <if test="itfParams != null" >
        ITF_PARAMS,
      </if>
      <if test="requestMethod != null" >
        REQUEST_METHOD,
      </if>
      <if test="checkValue1 != null" >
        CHECK_VALUE1,
      </if>
      <if test="checkValue2 != null" >
        CHECK_VALUE2,
      </if>
      <if test="frequency != null" >
        FREQUENCY,
      </if>
      <if test="thresholdValue != null" >
        THRESHOLD_VALUE,
      </if>
      <if test="currentFailureNum != null" >
        CURRENT_FAILURE_NUM,
      </if>
      <if test="noticeLvl != null" >
        NOTICE_LVL,
      </if>
      <if test="noticeObject != null" >
        NOTICE_OBJECT,
      </if>
      <if test="byProxy != null" >
        BY_PROXY,
      </if>
      <if test="proxyIp != null" >
        PROXY_IP,
      </if>
      <if test="proxyPort != null" >
        PROXY_PORT,
      </if>
      <if test="proxyUsername != null" >
        PROXY_USERNAME,
      </if>
      <if test="proxyPassword != null" >
        PROXY_PASSWORD,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="totalNoticeNum != null" >
        TOTAL_NOTICE_NUM,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="guid != null" >
        GUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskGroupId != null" >
        #{taskGroupId,jdbcType=VARCHAR},
      </if>
      <if test="belongTo != null" >
        #{belongTo,jdbcType=VARCHAR},
      </if>
      <if test="itfUrl != null" >
        #{itfUrl,jdbcType=VARCHAR},
      </if>
      <if test="itfParams != null" >
        #{itfParams,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="checkValue1 != null" >
        #{checkValue1,jdbcType=VARCHAR},
      </if>
      <if test="checkValue2 != null" >
        #{checkValue2,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=DECIMAL},
      </if>
      <if test="thresholdValue != null" >
        #{thresholdValue,jdbcType=NUMERIC},
      </if>
      <if test="currentFailureNum != null" >
        #{currentFailureNum,jdbcType=NUMERIC},
      </if>
      <if test="noticeLvl != null" >
        #{noticeLvl,jdbcType=CHAR},
      </if>
      <if test="noticeObject != null" >
        #{noticeObject,jdbcType=VARCHAR},
      </if>
      <if test="byProxy != null" >
        #{byProxy,jdbcType=NUMERIC},
      </if>
      <if test="proxyIp != null" >
        #{proxyIp,jdbcType=VARCHAR},
      </if>
      <if test="proxyPort != null" >
        #{proxyPort,jdbcType=NUMERIC},
      </if>
      <if test="proxyUsername != null" >
        #{proxyUsername,jdbcType=VARCHAR},
      </if>
      <if test="proxyPassword != null" >
        #{proxyPassword,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="totalNoticeNum != null" >
        #{totalNoticeNum,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jike.system.bean.DetectInterfaceExample" resultType="java.lang.Integer" >
    select count(*) from T_SYSTEM_DETECT_INTERFACE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SYSTEM_DETECT_INTERFACE
    <set >
      <if test="record.taskId != null" >
        TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskGroupId != null" >
        TASK_GROUP_ID = #{record.taskGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.belongTo != null" >
        BELONG_TO = #{record.belongTo,jdbcType=VARCHAR},
      </if>
      <if test="record.itfUrl != null" >
        ITF_URL = #{record.itfUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.itfParams != null" >
        ITF_PARAMS = #{record.itfParams,jdbcType=VARCHAR},
      </if>
      <if test="record.requestMethod != null" >
        REQUEST_METHOD = #{record.requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.checkValue1 != null" >
        CHECK_VALUE1 = #{record.checkValue1,jdbcType=VARCHAR},
      </if>
      <if test="record.checkValue2 != null" >
        CHECK_VALUE2 = #{record.checkValue2,jdbcType=VARCHAR},
      </if>
      <if test="record.frequency != null" >
        FREQUENCY = #{record.frequency,jdbcType=DECIMAL},
      </if>
      <if test="record.thresholdValue != null" >
        THRESHOLD_VALUE = #{record.thresholdValue,jdbcType=NUMERIC},
      </if>
      <if test="record.currentFailureNum != null" >
        CURRENT_FAILURE_NUM = #{record.currentFailureNum,jdbcType=NUMERIC},
      </if>
      <if test="record.noticeLvl != null" >
        NOTICE_LVL = #{record.noticeLvl,jdbcType=CHAR},
      </if>
      <if test="record.noticeObject != null" >
        NOTICE_OBJECT = #{record.noticeObject,jdbcType=VARCHAR},
      </if>
      <if test="record.byProxy != null" >
        BY_PROXY = #{record.byProxy,jdbcType=NUMERIC},
      </if>
      <if test="record.proxyIp != null" >
        PROXY_IP = #{record.proxyIp,jdbcType=VARCHAR},
      </if>
      <if test="record.proxyPort != null" >
        PROXY_PORT = #{record.proxyPort,jdbcType=NUMERIC},
      </if>
      <if test="record.proxyUsername != null" >
        PROXY_USERNAME = #{record.proxyUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.proxyPassword != null" >
        PROXY_PASSWORD = #{record.proxyPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.totalNoticeNum != null" >
        TOTAL_NOTICE_NUM = #{record.totalNoticeNum,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.guid != null" >
        GUID = #{record.guid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SYSTEM_DETECT_INTERFACE
    set TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      TASK_GROUP_ID = #{record.taskGroupId,jdbcType=VARCHAR},
      BELONG_TO = #{record.belongTo,jdbcType=VARCHAR},
      ITF_URL = #{record.itfUrl,jdbcType=VARCHAR},
      ITF_PARAMS = #{record.itfParams,jdbcType=VARCHAR},
      REQUEST_METHOD = #{record.requestMethod,jdbcType=VARCHAR},
      CHECK_VALUE1 = #{record.checkValue1,jdbcType=VARCHAR},
      CHECK_VALUE2 = #{record.checkValue2,jdbcType=VARCHAR},
      FREQUENCY = #{record.frequency,jdbcType=DECIMAL},
      THRESHOLD_VALUE = #{record.thresholdValue,jdbcType=NUMERIC},
      CURRENT_FAILURE_NUM = #{record.currentFailureNum,jdbcType=NUMERIC},
      NOTICE_LVL = #{record.noticeLvl,jdbcType=CHAR},
      NOTICE_OBJECT = #{record.noticeObject,jdbcType=VARCHAR},
      BY_PROXY = #{record.byProxy,jdbcType=NUMERIC},
      PROXY_IP = #{record.proxyIp,jdbcType=VARCHAR},
      PROXY_PORT = #{record.proxyPort,jdbcType=NUMERIC},
      PROXY_USERNAME = #{record.proxyUsername,jdbcType=VARCHAR},
      PROXY_PASSWORD = #{record.proxyPassword,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=CHAR},
      TOTAL_NOTICE_NUM = #{record.totalNoticeNum,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      GUID = #{record.guid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jike.system.bean.DetectInterface" >
    update T_SYSTEM_DETECT_INTERFACE
    <set >
      <if test="taskGroupId != null" >
        TASK_GROUP_ID = #{taskGroupId,jdbcType=VARCHAR},
      </if>
      <if test="belongTo != null" >
        BELONG_TO = #{belongTo,jdbcType=VARCHAR},
      </if>
      <if test="itfUrl != null" >
        ITF_URL = #{itfUrl,jdbcType=VARCHAR},
      </if>
      <if test="itfParams != null" >
        ITF_PARAMS = #{itfParams,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        REQUEST_METHOD = #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="checkValue1 != null" >
        CHECK_VALUE1 = #{checkValue1,jdbcType=VARCHAR},
      </if>
      <if test="checkValue2 != null" >
        CHECK_VALUE2 = #{checkValue2,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        FREQUENCY = #{frequency,jdbcType=DECIMAL},
      </if>
      <if test="thresholdValue != null" >
        THRESHOLD_VALUE = #{thresholdValue,jdbcType=NUMERIC},
      </if>
      <if test="currentFailureNum != null" >
        CURRENT_FAILURE_NUM = #{currentFailureNum,jdbcType=NUMERIC},
      </if>
      <if test="noticeLvl != null" >
        NOTICE_LVL = #{noticeLvl,jdbcType=CHAR},
      </if>
      <if test="noticeObject != null" >
        NOTICE_OBJECT = #{noticeObject,jdbcType=VARCHAR},
      </if>
      <if test="byProxy != null" >
        BY_PROXY = #{byProxy,jdbcType=NUMERIC},
      </if>
      <if test="proxyIp != null" >
        PROXY_IP = #{proxyIp,jdbcType=VARCHAR},
      </if>
      <if test="proxyPort != null" >
        PROXY_PORT = #{proxyPort,jdbcType=NUMERIC},
      </if>
      <if test="proxyUsername != null" >
        PROXY_USERNAME = #{proxyUsername,jdbcType=VARCHAR},
      </if>
      <if test="proxyPassword != null" >
        PROXY_PASSWORD = #{proxyPassword,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="totalNoticeNum != null" >
        TOTAL_NOTICE_NUM = #{totalNoticeNum,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guid != null" >
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jike.system.bean.DetectInterface" >
    update T_SYSTEM_DETECT_INTERFACE
    set TASK_GROUP_ID = #{taskGroupId,jdbcType=VARCHAR},
      BELONG_TO = #{belongTo,jdbcType=VARCHAR},
      ITF_URL = #{itfUrl,jdbcType=VARCHAR},
      ITF_PARAMS = #{itfParams,jdbcType=VARCHAR},
      REQUEST_METHOD = #{requestMethod,jdbcType=VARCHAR},
      CHECK_VALUE1 = #{checkValue1,jdbcType=VARCHAR},
      CHECK_VALUE2 = #{checkValue2,jdbcType=VARCHAR},
      FREQUENCY = #{frequency,jdbcType=DECIMAL},
      THRESHOLD_VALUE = #{thresholdValue,jdbcType=NUMERIC},
      CURRENT_FAILURE_NUM = #{currentFailureNum,jdbcType=NUMERIC},
      NOTICE_LVL = #{noticeLvl,jdbcType=CHAR},
      NOTICE_OBJECT = #{noticeObject,jdbcType=VARCHAR},
      BY_PROXY = #{byProxy,jdbcType=NUMERIC},
      PROXY_IP = #{proxyIp,jdbcType=VARCHAR},
      PROXY_PORT = #{proxyPort,jdbcType=NUMERIC},
      PROXY_USERNAME = #{proxyUsername,jdbcType=VARCHAR},
      PROXY_PASSWORD = #{proxyPassword,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=CHAR},
      TOTAL_NOTICE_NUM = #{totalNoticeNum,jdbcType=DECIMAL},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      GUID = #{guid,jdbcType=VARCHAR}
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>