<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 用户注册 -->
	<bean id="WeChatUserDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.flyingmemory.dao.iface.WeChatUserDAO</value>
		</property>
		<property name="interceptorNames">
			<value>WeChatUserDAOImple</value>
		</property>
	</bean>
	
	<bean id="WeChatUserDAOImple" class="org.flyingmemory.dao.imple.WeChatUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="CoreService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.flyingmemory.service.iface.CoreService</value>
		</property>
		<property name="interceptorNames">
			<value>CoreServiceImple</value>
		</property>
	</bean>
	
	<bean id="CoreServiceImple" class="org.flyingmemory.service.imple.CoreService">
		<property name="weChatUserDAO">
			<ref bean="WeChatUserDAO" />
		</property>
	</bean>

	<bean id="TestService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.flyingmemory.service.iface.TestService</value>
		</property>
		<property name="interceptorNames">
			<value>TestServiceImple</value>
		</property>
	</bean>
	
	<bean id="TestServiceImple" class="org.flyingmemory.service.imple.TestService">
		<property name="weChatUserDAO">
			<ref bean="WeChatUserDAO" />
		</property>
	</bean>
	
	<!-- more bean definitions go here -->
	
	<!--菜单查询维护-->
	<bean id="MenuService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.flyingmemory.service.iface.MenuService</value>
		</property>
		<property name="interceptorNames">
			<value>MenuServiceImple</value>
		</property>
	</bean>
	
	<bean id="MenuServiceImple" class="org.flyingmemory.service.imple.MenuService">
		<property name="tblMenuInfoDAO">
			<ref bean="TblMenuInfoDAO" />
		</property>
	</bean>
	
	<bean id="TblMenuInfoDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.flyingmemory.dao.iface.TblMenuInfoDAO</value>
		</property>
		<property name="interceptorNames">
			<value>TblMenuInfoDAOTarget</value>
		</property>
	</bean>
	<bean id="TblMenuInfoDAOTarget" class="org.flyingmemory.dao.imple.TblMenuInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactoryQuery" />
		</property>
	</bean>
	
	<!--通用查询-->
	<bean id="CommQueryDAO" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.flyingmemory.dao.iface.CommQueryDAO</value>
		</property>
		<property name="interceptorNames">
			<value>CommQueryDAOTarget</value>
		</property>
	</bean>
	<bean id="CommQueryDAOTarget" class="org.flyingmemory.dao.imple.CommQueryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactoryQuery" />
		</property>
	</bean>
	
</beans>