* {
	margin:0px;
	padding:0px;
	list-style:none;
}

#fm_hide {
	width:100%;
	min-width:1080px;
	background: rgba(32,32,32, 0.8);
	height:300px;
  	display:none;  
}
.logo_main {
	background-image:url(/resources/icons/logo_main.png);
	background-position: center;
	background-repeat: no-repeat;
}

#fm_face {
	width:100%;
	min-width:1080px;
	height:60px;
	background: rgba(48,48,48, 0.9);
 	box-shadow: 0px 2px 3px 1.5px #1C1C1C;
}
 
#fm_face_left {
	float:left;
	width:auto;
	height:100%;
}

#fm_face_right {
	float:right;
	width:420px;
	height:100%;
}

.fm_face_em {
	width:100px;
	height:60px;
	float:left;
	margin:0px auto;
	text-align: center;
	line-height: 60px;
	font-family: "微软雅黑", arial;
	font-weight: bold;
	font-size: 18px;
	color: #CFCFCF;
	cursor:pointer;
}

#fm_face li a:hover {
	color: #FF0000;
}

#fm_face_left li ul.subnav {
	display: none;
}

.subnav li{
	background: rgba(48,48,48, 0.9);
}

#fm_face_left li a {
	font-family: "微软雅黑", arial;
	font-weight: bold;
	font-size: 18px;
	color: #CFCFCF;
	text-decoration: none;
}

.right_subnav {
	width:399px;
	height:auto;
	float:right;
	display: none;
	margin-right:2px;
	background: rgba(48,48,48, 0.9);
 	box-shadow: 2px 2px 3px 1.5px #1C1C1C;
}

#loginForm {
	background:transparent; 
	margin:10px; 
	padding:10px;
	text-align:center;
}

#loginForm .inputCss {
	background:transparent; 
	font-size: 16px;
	font-weight: bold;
	color: #CFCFCF;
	width: 155px;
}




/* 

#include_msg_show {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 300px;
    top: -300px;
	background:transparent;
}

#include_msg_show ul {
	background: rgba(112,128,144, 0.9);
	box-shadow: 0px 2px 5px 2px #2F4F4F;
	width: 300px;
	height: auto;
	margin:0px auto;
	padding:5px;
}

#include_msg_head {
	background:transparent; 
	width:100%; 
	height: 25px;
	margin:5px auto;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	font-size: 16px;
	color: #1C1C1C;
}

#include_msg_body {
	background:transparent; 
	width:100%; 
	height: 200px;
	margin:5px auto;
	line-height: 1.5;
	font-size: 20px;
	color: #EED8AE;
} */